@charset "utf-8";
body{
	font-family:punctuation, PingFangSC-Regular,"Microsoft YaHei","微软雅黑";
}
.header{
	margin-top: 16px;
	margin-bottom: 15px;
}

.hd_rt{
	
	font-size: 0;
}
.hd_rt a{
	vertical-align: bottom;
	font-size: 16px;
	color: #1570A5;
}
.tb{
	background: url(../images/phone_caidan.jpg) no-repeat;
	width: 22px;
	height: 18px;
	display: inline-block;
}
.tb1{
	margin-left: 5px;
	margin-right: 18px;
	margin-top: 5px;
}
.nav ul li{
	line-height: 40px;
	background-color: #1570A5;
	margin-bottom: 1px;
}
.nav ul li a{
	color: #fff;
	margin-left: 11px;
}
.nav div{
	background-color: #fff;
	display: none;
	position: static;
	float:none;
}
.phone_hide{
	display: none;
}

.cw{
	padding-left: 13px;
	padding-right: 11px;

}
.banner .i1{
	padding-top: 20px;
}
.banner p{
	color: #129DD4;
	height: 40px;
	font-size: 18px;
	line-height: 40px;
	margin-left: 5px;
}
.banner .bnav h3{
			font-weight: normal;
			margin-left: 10px;
}
.banner .bnav a{
	color: #1570AE;
	height: 51px;
	line-height: 51px;
	margin-left: 14px;
}
.tubiao{
	width: 350px;
	height: 226px;
	margin: 50px auto;
}
.tubiao ul li{
	float: left;
	width: 74px;
	height: 120px;
	margin-left: 60px;
}
.tubiao .l1{
	margin-left:0px;
}
.tubiao ul li p{
	font-size: 14px;
	line-height: 20px;
	color:#186FA5;
}
.wenzi{
	background-color: #1570A5;
	height: 506px;
	padding-top: 20px;
}
.wenzi .shang{
	width: 320px;
	height: 290px;
	background-color: rgba(0,0,0,.2);
	margin:0 auto;
	padding: 10px;
}
.wenzi .shang p{
	line-height: 30px;
	color: white;
}
.wenzi .shang img{
	float: left;
	margin-right: 20px;
}
.wenzi .xia{
	width: 180px;
	height: 120px;
	color: white;
	margin-left: 30px;
}
.wenzi .xia h2{
	margin-top: 25px;
	margin-bottom: 35px;
}
.wenzi .xia p{
	line-height: 30px;
	color: white;
}
.qita p{
	line-height: 40px;
}
.qita span{
	font-size: 14px;
}
.qita li{
	margin-bottom: 10px;
}
.xiazai li{
	margin-bottom: 20px;
}
.xiazai a{
	display: block;
	color: #1570A5;
	line-height: 25px;
	font-size: 14px;
}
.xiazai p{
	line-height: 44px;
}
.foot2{
		margin-top: 70px;
		margin-bottom: 70px;
}
.foot2 p{
	line-height: 30px;
	font-size: 14px;
	text-align: center;
}
.foot2 a{
	font-size: 12px;
	color:#1570A5;
	margin-left: 10px;
}